In [3]:
import eikon as ek

In [4]:
#  e943b97f0ced4c0196e8f5fd2e1527b53f6803a7

ek.set_app_key('e943b97f0ced4c0196e8f5fd2e1527b53f6803a7')

In [5]:
ek.get_timeseries('AAPL.O', fields='CLOSE', start_date='2023-01-01', end_date='2023-12-31')

AAPL.O       CLOSE
Date
2023-01-03  125.07
2023-01-04  126.36
2023-01-05  125.02
2023-01-06  129.62
2023-01-09  130.15
...            ...
2023-12-22   193.6
2023-12-26  193.05
2023-12-27  193.15
2023-12-28  193.58
2023-12-29  192.53

[250 rows x 1 columns]